{% extends "base.html" %}

{% block content %}

<h1>Please edit user</h1>
<br>
<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  {{ form.email(placeholder="email") }}
    <span class="error">
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.admin.label }}<br>
   {{ form.admin }}
   <br>
  </p>
  <button class="btn btn-success" type="submit">Edit!</button>
</form>

{% endblock %}